base_path: /home/gollum/wiki
wiki_options:
    show_all: true
    collapse_tree: true
    mathjax: true
    h1_title: true
    user_icons: 'gravatar'
omniauth:
    ldap:
        host: 127.0.0.1
        port: 389
        method: plain
        base: "dc=examle,dc=com"
        uid: uid
        bind_dn: "cn=manager,dc=example,dc=com"
        password: 'password'
